<form method="POST" action="">
    {% csrf_token %}
    <table>
      <tr>
        <td>Nama Barang:</td>
        <td>
          <input
            type="text"
            name="nama_barang"
            placeholder="Nama Barang"
            class="form-control"
          />
        </td>
      </tr>
  
      <tr>
        <td>Harga Barang:</td>
        <td>
          <input
            type="text"
            name="harga_barang"
            placeholder="Harga Barang"
            class="form-control"
          />
        </td>
      </tr>
      <tr>
        <td>Deskripsi:</td>
        <td>
          <input
            type="text"
            name="deskripsi"
            placeholder="Deskripsi"
            class="form-control"
          />
        </td>
      </tr>
  
      <tr>
        <td></td>
        <td><input class="btn login_btn" type="submit" value="Login" /></td>
      </tr>
    </table>
</form>