{% extends 'base.html' %}

{% block content %}
<div>
    <nav class="navbar navbar-expand-lg bg-warning px-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{nama}}</a>   
        <button class="btn btn-danger" type="submit" onclick="location.href=`{% url 'wishlist:logout' %}`">Logout</button>
      </form>
    </div>
  </nav>

<table class="table table-striped">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
    
</table>
<h9>Sesi terakhir login: {{ last_login }}</h9>
</div>

{% endblock content %}